@keyframes colorChange {
  0% {
    background-color: $color-red;
  }

  50% {
    background-color: $color-red-alt;
  }

  100% {
    background-color: $color-red;
  }
}

.App {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: $color-black;
  background-color: $color-toast-gray;
  transition: background-color $transition-set;

  &.green {
    background-color: $color-green;
  }

  &.yellow {
    background-color: $color-yellow;
  }

  &.red {
    background-color: $color-red;
  }

  &.red-alt {
    animation-name: colorChange;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
  }
}
