// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-toast-gray: #a9b2b1;
$color-toast-yellow: #f2df74;
$color-toast-blue: #004165;
$color-toast-maroon: #772432;
$color-toast-red: #cd202c;
$color-green: #02d488;
$color-yellow: #f7e155;
$color-red: #ff7575;
$color-red-alt: $color-toast-red; // #ff6060

// Sizes
$size-s: 0.5em;
$size-m: 1em;
$size-l: 1.5em;
$size-xl: 3em;
$size-width-max: 960px;

// Transitions
$transition-set: 0.1s ease-in-out;
$transition-all: all $transition-set;
